<h2>Payment Canceled</h2>
<p>Your payment has been canceled. You can return to your cart to review your items or try checking out again.</p>

<%= link_to "Return to Cart", cart_path(current_user.cart), class: "btn btn-primary" %>